body{
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    font-family: 'Mulish', sans-serif;
}

@font-face {
    font-family: 'Mulish';
    src: url('../src/assets/Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  